@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  background-color: #17191a;
}

.middle {
  align-items: center;
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10px;
  width: 900px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}

.middle::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.middle > div {
  scroll-snap-align: start;
}

.pages {
  width: 100%;
  border: 1px solid #17191a;
  height: 100vh;
  min-height: 80rem;
  backgroundColor: #17191a;
}

.category {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
}