@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  scrollbar-width: none;
  background-color: #17191a;
  &::-webkit-scrollbar {
    display: none;
  }
}

.lds-dual-ring {
  margin-top: 44vh;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container {
  scrollbar-width: none;
  width: 900px;
  display: flex;
  overflow: auto;
  flex: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  height: 100vh;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}

.container > div {
  scroll-snap-align: center;
  flex: none;
}

.container > div {
  height: 100%;
}

.category {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
}