@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  background-color: #17191a;
  &::-webkit-scrollbar {
    display: none;
  }
}

.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container {
  width: 900px;
  display: flex;
  overflow: auto;
  flex: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  height: 100vh;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}

.container > div {
  scroll-snap-align: center;
  flex: none;
}

.container > div {
  height: 100%;
}

.category {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
}