@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scrollDown {
  animation: bounce 3s ease infinite;
  display: block;
  margin-top: 22vh;
  text-align: center;

  div {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 11px;
    color: #FFFFF0;
  }
}

.scrollDown-text {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(104%) contrast(107%);
  width: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AboutMe-title {
  margin-top: 4vh;
  font-family: 'Nanum Myeongjo', serif;
  color: #fffff0;
}

.aboutMe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2vh;
  width: 80vw;
  height: 12rem;
  display: flex;

  p {
    margin-top: 1rem;
    font-family: 'Inconsolata', monospace;
    font-size: 4vw;
    color: #FFFFF0;
  }
}

.skillbars {
  margin-top: 3vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    filter: blendTrans();
  }
}

.certificate {
  margin-top: 3vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container {
  box-shadow: #CDD5E0 0px 0px 0px 4px inset, #CDD5E0 0px 0px 0px 4px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 3vh;
  display: flex;
  overflow: auto;
  flex: none;
  width: 70vw;
  height: 66vh;
  max-height: 88vh;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
}

.contains {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  font-size: 64px;
  width: 100%;
  height: 128px;
}

.busGif {
  margin-top: 1vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 50vw;
  max-width: 20rem;
}

.projectTitle {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3vh;
  font-size: 5vw;
}

.icons {
  width: auto;
  height: auto;
}

.gitIcon {
  filter: grayscale(100%);
  width: 6vw;

  &:hover {
    cursor: pointer;
    filter: grayscale(0%);
  }
}

.webIcon {
  margin-bottom: -2.5px;
  margin-left: 5px;
  filter: grayscale(100%);
  width: 7vw;

  &:hover {
    cursor: pointer;
    filter: grayscale(0%);
  }
}

.description {
  font-family: 'LeferiPoint-WhiteObliqueA';
  margin-top: 1vh;
  height: auto;
  text-align: center;
  font-size: 11px;
}

.blackboardGif {
  margin-top: 1vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 60vw;
  max-width: 30rem;
}

.building {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}

.contacts {
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  height: auto;
  width: 70vw;
  background-color: #fff;
}

.instagramLogo {
  width: 15rem;
}

.swipeLeft {
  color: #fff;
  font-size: 12px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #000;
}

.contacts {
  margin-top: 3rem;
  height: 4.8rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  width: 50%;

  &:hover {
    cursor: pointer;
    background-color: #7289da;
    border: 1px solid #7289da;
    color: #fff;
  }
}

.instaIcon {
  margin-left: 1.5rem;
  float: left;
  &:hover {
    color: darkslateblue;
  }
}

.instagram {
  font-family: 'Lily Script One', cursive;
  text-align: center;
  color: #000;
  font-size: 2.2rem;

  div {
    font-family: 'Fjord One', serif;
    font-size: 1.2rem;
  }
}

.bottomBox {
  margin-top: 4rem;
}

.instagramBox {
  background-color: #fffd93;
}

.insins {
  color: #FB0189;
  &:hover {
    color: darkslateblue;
  }
}