@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scrollDown {
  animation: bounce 3s ease infinite;
  display: block;
  margin-top: 22vh;
  text-align: center;

  div {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 11px;
    color: #FFFFF0;
  }
}

.scrollDown-text {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(104%) contrast(107%);
  width: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AboutMe-title {
  margin-top: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  color: #fffff0;
}

.aboutMe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2vh;
  width: 80vw;
  height: 12rem;
  display: flex;

  p {
    margin-top: 1rem;
    font-family: 'Inconsolata', monospace;
    font-size: 4vw;
    color: #FFFFF0;
  }
}

.skillbars {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.skillbars:active {
  width: 50vw;
}

.certificate {
  margin-top: 4vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

