@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

@keyframes tilt {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }
  10% {
    transform: rotate(14.0deg)
  }
  20% {
    transform: rotate(-8.0deg)
  }
  30% {
    transform: rotate(14.0deg)
  }
  40% {
    transform: rotate(-4.0deg)
  }
  50% {
    transform: rotate(10.0deg)
  }
  60% {
    transform: rotate(0.0deg)
  }
  100% {
    transform: rotate(0.0deg)
  }
}

.title {
  color: #BBEDBE;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  float: left;
  width: 1.3rem;
  font-size: 35px;
  font-weight: bold;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  &:hover {
    color: #5579C6;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}

.btn {
  font-family: 'Radio Canada', sans-serif;
  background-color: #17191a;
  color: #FFD700;
  border: none;
  float: right;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  margin-left: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #FFD700;
    color: #17191a;
  }
}

.typewriter {
  font-family: 'Quicksand', sans-serif;
  margin-top: 20rem;
  font-size: 4rem;
  color: #FF0084;
  text-align: center;

  & span {
    color: #0063DC;
  }
}

.aboutme {
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  color: aliceblue;

  p {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
  }
}

.language {
  width: 25rem;

  img {
    margin-right: 20px;
  }
}

.wavingHand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.aboutPage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  margin-top: 5rem;
  width: 45rem;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;

  p {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
}

.skill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 5px;
  display: block;
  position: relative;
}

.react {
  width: 70%;
  background: #61dbfb;
}

.react-count {
  position: absolute;
  border-top: 5px solid #fff;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  right: 0;
  color: #fff;
}

.python {
  width: 60%;
  background: #306998;
}

.python-count {
  position: absolute;
  border-top: 5px solid #fff;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  right: 0;
  color: #fff;
}

.java {
  width: 50%;
  background: #b07219;
}

.java-count {
  position: absolute;
  border-top: 5px solid #fff;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  right: 0;
  color: #fff;
}

.cpp {
  width: 40%;
  background: #f34b7d;
}

.cpp-count {
  position: absolute;
  border-top: 5px solid #fff;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  right: 0;
  color: #fff;
}

.wrapper {
  h1 {
    color: #fff;
    font-family: 'Macondo', cursive;
  }
}

.certificate {
  h1 {
    color: #fff;
    font-family: 'Macondo', cursive;
  }

  p, span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 20px;
  }

  span {
    font-size: 12px;
    font-family: 'Gowun Dodum', sans-serif;
  }

  border: 1px solid #17191a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 45rem;
}

.boxHover {
  h1, p, span {
    transition: 0.3s;
  }
}

.boxHover:hover {
  h1, p, span {
    color: #7289da;
    transition: all 0.3s ease-in-out;
  }
}

$hoverBgColor: #503bff;
$hoverBgColor2: #8293ff;

.projectBox {
  float: left;
  margin-right: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  width: 350px;
  height: 430px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
    background: linear-gradient(130deg, $hoverBgColor 0%, $hoverBgColor2 100%);
    border: 1px solid $hoverBgColor;

    div {
      color: #fff;
    }
  }

  div {
    color: #000;
  }

  img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}

.projectIntroduce {
  text-align: center;
}

.projectBoxRight {
  margin-left: 5rem;
}

.busGif {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 200px;
}